
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 375px;
    height: 5205px;
    margin: auto;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
}

.header {
    width: 100%;
    height: 668px;
}

.header-logo {
    width: 375px;
    height: 248px;
    background-image: url(./images/bg-header-mobile.png);
    background-size: cover;
}

.header-border-logo {
    width: 120px;
    height: 120px;
    margin: auto 125px auto;
    border: 10px solid hsl(171, 66%, 44%);
    border-radius: 50%;
    position: absolute;
    top: 123px;
}
.header-logo-p {
    text-align: center;
    color: hsl(171, 66%, 44%);
    font-family: 'Quicksand', sans-serif;
    font-size: 5.4em;
    font-weight: bold;
    position: absolute;
    top: -15px;
    left: 13px;
}
.header-title {
    margin: 25px 40px 0;
    text-align: center;
    color: hsl(210, 10%, 33%);
    font-size: 1.6em;
}
.header-p {
    margin: 25px 30px 50px;
    text-align: center;
    color: hsl(201, 11%, 66%);
    font-size: 0.84em;
    word-spacing: 4px;
    line-height: 25px;
}
.btns {
    display: grid;
    margin: 0 32px 15px;
    gap: 25px;
}

.btns button {
    bottom: unset;
    width: 307px;
    height: 58px;
    color: white;
    border: 0;
    font: inherit;
    font-weight: 600;
    border-bottom-style: unset;
    border-radius: 25px;
    font-size: 1em;
    letter-spacing: 1.3px;
    cursor: pointer;
}

.btn1 {
    background-color: hsl(171, 66%, 44%);
    box-shadow: 2px 2px 10px hsl(171, 66%, 44%),
    0 -3px 0 hsl(171, 91%, 34%) inset;
}

.btn2 {
    background-color: hsl(233, 100%, 69%);
    box-shadow: 2px 2px 10px hsl(233, 100%, 69%),
    0 -3px 0 hsl(233, 53%, 52%) inset;
}

.section-1 {
    margin: 154px 30px 150px;
}
.section-1-title1 {
    text-align: center;
    color: hsl(210, 10%, 33%);
    font-size: 1.6em;
}
.section-1-p1 {
    text-align: center;
    color: hsl(201, 11%, 66%);
    font-size: 0.84em;
    word-spacing: 4px;
    line-height: 25px;
}
.section-1-content-img {
    margin: 70px auto;
}
.section-1-content-img img {
    width: 315px;
    height: 240px;
}
.section-1-content-title2 {
    text-align: center;
    color: hsl(210, 10%, 33%);
    font-size: 1.4em;
}    
.section-1-content-p2 {
    text-align: center;
    margin: 20px 0;
    color: hsl(201, 11%, 66%);
    font-size: 0.8em;
    word-spacing: 4px;
    line-height: 25px;
}

.section-2-title {
    margin-bottom: 30px;
    text-align: center;
    color: hsl(210, 10%, 33%);
    font-size: 1.6em;
}
.section-2-p {
    margin-bottom: 70px;
    text-align: center;
    color: hsl(201, 11%, 66%);
    font-size: 0.84em;
    word-spacing: 4px;
    line-height: 25px;
}
.section-2-img img {
    width: 311px;
    height: 182px;
}

.section-3-title1 {
    margin: 80px 60px 20px;
    text-align: center;
    color: hsl(210, 10%, 33%);
    font-size: 1.6em;
}
.section-3-p1 {
    margin: 0 60px 90px;
    text-align: center;
    color: hsl(201, 11%, 66%);
    font-size: 0.84em;
    word-spacing: 4px;
    line-height: 25px;
}
.section-3-content {
    margin: auto;
    display: flex;
    flex-direction: column;
}
.section-3-content i {
    align-content: center;
    align-items: center;
    text-align: center;
}
.section-3-title2 {
    margin: 50px auto 30px;
    text-align: center;
    color: hsl(210, 10%, 33%);
    font-size: 1.4em;
}
.section-3-p2 {
    margin: 0 30px 60px;
    text-align: center;
    color: hsl(201, 11%, 66%);
    font-size: 0.8em;
    word-spacing: 4px;
    line-height: 25px;
}

.section-4-icons {
    margin: 40px auto;
    display: grid;
}
.section-4-icons img {
    width: 120px;
}
.section-4-title {
    margin: 120px 30px 0;
    text-align: center;
    color: hsl(210, 10%, 33%);
    font-size: 1.6em;
}
.section-4-p {
    margin: 0 30px 170px;
    text-align: center;
    color: hsl(201, 11%, 66%);
    font-size: 0.84em;
    word-spacing: 4px;
    line-height: 25px;
}

.footer {
    margin-top: 170px;
    padding-top: 50px;
    background-color: rgb(247, 247, 247);
}
.footer-border-logo {
    margin: auto;
    width: 52px;
    height: 52px;
    border: 5px solid hsl(171, 66%, 44%);
    border-radius: 50%;
    position: relative;
}
.footer-logo-p {
    text-align: center;
    color: hsl(171, 66%, 44%);
    font-family: 'Quicksand', sans-serif;
    font-size: 3.3em;
    font-weight: bold;
    position: absolute;
    bottom: -9px;
    left: 3px;
}
.footer-list p {
    margin-top: 40px;
    text-align: center;
    color: hsl(210, 10%, 33%);
    font-size: 1em;
    line-height: 40px;
    cursor: pointer;
}
.footer-list p:hover {
    color: hsl(171, 66%, 44%);
}

.footer-icons {
    margin: 50px 110px 0;
    padding-bottom: 50px;
    display: flex;
}
.footer-iconsimg {
    margin: auto;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width:1440px) {
    body {
        width: 1440px;
        height: 100%;
    }
    .header-logo {
        width: 1440px;
        height: 300px;
        background-image: url(./images/bg-header-desktop.png);
        background-size: cover;
        position: relative;
    }
    .header-border-logo {
        width: 125px;
        height: 125px;
        margin: auto auto auto;
        border-radius: 50%;
        position: absolute;
        top: 130px;
        left: 659px;
    }
    .header-logo-p {
        text-align: center;
        top: -12px;
        left: 13px;
    }
    .header-title {
        margin: auto;
        font-size: 2.32em;
        word-spacing: 4px;
    }
    .header-p {
        margin: 30px 367px 50px;
        font-size: 1.1em;
    }
    .btns {
        display: flex;
        justify-content: center;
    }
    .btns button {
        width: 229px;
    }
    .section-1 {
        margin: 70px 30px 150px;
    }
    .section-1-title1 {
        font-size: 2.1em;
        word-spacing: 4px;
    }
    .section-1-p1 {
        margin: 40px 320px 84px;
        font-size: 1em;
    }
    .section-1-content {
        display: flex;
        flex-direction: row;
    }
    .section-1-content-img {
        width: 700px;
        height: 574px;
        margin: 0;
        overflow: hidden;
        position: relative;
    }
    .section-1-content-img img {
        width: 752px;
        height: 572px;
    }
    .img-crop {
        position: absolute;
        right: 10%;
    }
    .section-1-content-text {
        width: 500px;
        height: 572px;
        padding: 60px;
        display: flex;
        flex-direction: column;
    }
    .section-1-content-title2 {
        text-align: left;
        font-size: 1.4em;
    }
    .section-1-content-p2 {
        text-align: left;
        margin: 0;
        font-size: 0.9em;
        margin-bottom: 70px;
    }
    .section-2-title {
        font-size: 2.1em;
        word-spacing: 4px;
    }
    .section-2-p {
        margin: 35px 325px 84px;
        font-size: 1em;
    }
    .section-2-img {
        text-align: center;
    }
    .section-2-img img {
        width: 811px;
        height: 472px;
        margin: 20px auto;
    }
    .section-3-title1 {
        font-size: 2.1em;
        word-spacing: 4px;
    }
    .section-3-p1 {
        font-size: 1em;
    }
    .section-3-content {
        margin: 60px;
        flex-direction: row;
    }
    .section-3-icons1 {
        text-align: center;
        margin: auto 25px auto;
        padding: 10px;
    }
    .section-3-icons img {
        margin-bottom: 40px;
    }
    .section-3-title2 {
        margin: 0;
        font-size: 1.4em;
    }
    .section-3-p2 {
        margin: 20px auto auto;
        font-size: 1em;
        line-height: 30px;
        padding: auto 40px auto;
    }
    .section-4-icons {
        display: flex;
    }
    .section-4-title {
        font-size: 2.1em;
        word-spacing: 4px;
    }
    .section-4-p {
        margin: 30px 330px 40px;
        font-size: 1em;
    }
    .footer {
        margin-top: 152px;
        padding-top: 40px;
        background-color: rgb(247, 247, 247);
    }
    .footer-content {
        display: flex;
    }
    .footer-logo {
        margin: 0 160px 50px 130px;
    }
    .footer-list {
        width: 484px;
        height: 60px;
        display: flex;
        flex-direction: row;
    }
    .footer-list p {
        margin-top: 0;
        gap: 15px;
        text-align: left;
        font-size: 1.05em;
        line-height: 40px;
    }

    .footer-list-1 {
        margin-right: 75px;
    }
    .footer-list-2 {
        margin-right: 75px;
    }
    .footer-icons {
        margin: 60px 316px 60px 165px;
        padding-bottom: 0;
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .footer-iconsimg {
        margin: auto;
    }
    
}
